In [1]:
#just like lists, but they're immutable
emp=()
print(type(emp))

<class 'tuple'>

In [5]:
city="Pune", 
print(type(city))

<class 'tuple'>

In [6]:
city=("Pune", "Delhi", "Bangalore", "Mumbai")
city

('Pune', 'Delhi', 'Bangalore', 'Mumbai')

In [8]:
city="Pune", "Delhi", "Bangalore", "Mumbai"
type(city)
#Tuples may or may not use parantheses

tuple

In [9]:
city[0]="Lucknow"
city

TypeError: 'tuple' object does not support item assignment

In [10]:
city[1]

'Delhi'

In [11]:
city[-1]

'Mumbai'

In [12]:
city[::-1]

('Mumbai', 'Bangalore', 'Delhi', 'Pune')

# Concatenation

In [14]:
#we can perform concatenation on tuples
num=(1, 2, 3, 4)
print(city+num)

('Pune', 'Delhi', 'Bangalore', 'Mumbai', 1, 2, 3, 4)

# Nesting

In [15]:
nest=(city, num)
print(nest)

(('Pune', 'Delhi', 'Bangalore', 'Mumbai'), (1, 2, 3, 4))

# Repetition

In [23]:
tup=("Python", )*5
print(tup)

('Python', 'Python', 'Python', 'Python', 'Python')

In [21]:
tup1=("Python", )
print(tup1*10)#just prints tup1 10 times, doesn't modify the tuple

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [22]:
tup1

('Python',)

# Unpacking

In [24]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [25]:
num

(1, 2, 3, 4)

In [26]:
a, b, c, d=num
print(a, b, c, d)

1 2 3 4

In [27]:
a, *b, c=num
print(a, b, c)#b is list

1 [2, 3] 4

# Deletion

In [28]:
tuple1=(1, 2, 3, 4)
print(tuple1)

(1, 2, 3, 4)

In [29]:
del tuple1

In [30]:
print(tuple1)

NameError: name 'tuple1' is not defined

# Built-in function

In [31]:
num.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [32]:
num1=(1, 2, 2, 2, 4, 4, 6, 7, 9)

In [33]:
num1.count(2)

3

In [34]:
max(num1)

9

In [35]:
min(num1)

1

In [36]:
len(num1)

9

# Converting list to tuple

In [37]:
lst=[1, 2, 3, 4]

In [38]:
print(type(lst))

<class 'list'>

In [39]:
lst=tuple(lst)#conversion from list to tuple
print(lst)

(1, 2, 3, 4)

# Nesting tuples within list

In [40]:
lst=[(1, 2, 3), (7, 8, 9)]

In [41]:
print(lst)

[(1, 2, 3), (7, 8, 9)]

In [42]:
lst.append(("Tuple", "Inside", "List"))

In [43]:
print(lst)

[(1, 2, 3), (7, 8, 9), ('Tuple', 'Inside', 'List')]

In [44]:
lst.remove((1, 2, 3))

In [45]:
print(lst)

[(7, 8, 9), ('Tuple', 'Inside', 'List')]

# Nesting List within Tuple

In [49]:
tup=([1, 2, 3], [7, 8, 9])

In [50]:
print(tup)

([1, 2, 3], [7, 8, 9])

In [51]:
tup[0].append(4)

In [52]:
print(tup)

([1, 2, 3, 4], [7, 8, 9])

In [53]:
tup[1].remove(8)

In [54]:
print(tup)

([1, 2, 3, 4], [7, 9])

In [55]:
tup.append(['a', 'b', 'c'])

AttributeError: 'tuple' object has no attribute 'append'